
@{
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parent Dashboard</title>
    <style>
        #divlink {
            background-color: white;
            padding: 10px;
            margin: 5px 0px 5px 0px;
            height: 103px;
            border-radius: 10px;
            width: 110px;
        }
        #selecttype{ border-radius:20px; color:white; background-color:blue}
        #rank{font-size: 15px; color: black; margin-top: 5px;}
        #rankbox{background-color: #f2f2f2; width: 80px; height: 80px; margin-left:auto; margin-top:5px; margin-right:auto; border-radius: 8px}
        #labelstd{font-size:12px; color:gray;}
        #inpturank{ width: 55px;height: 35px; margin-top: 10px; text-align: center; font-size: 25px; border-radius:5px;}
        #tdborder{border-right: 1px solid lightgray; text-align: center;}
        #tdcenter{text-align: center;}
        #divcontent{background-color:#f2f2f2; border-radius:5px;}
        #BottomLinks{font-size: 12px; margin-top: 5px;}
    </style>
</head>
<body>
    <div class="container-fluid" style="width:100%; padding:0px;">
        <div class="row mt-4">
            <div class="col-md-6 mt-2" style="background-color:none;">
                <div class="col" id="divcontent">
                    <label style="text-align:center; margin-top:10px;">Attendance</label>
                    <hr style="margin:2px;" />
                    <div class="col" style="padding:9px;">
                        <img src="~/Images/Image 1.png" class="img-responsive" widh="150" height="150" style="height:152px;" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2" style="background-color:none;">
                <div class="col" id="divcontent">
                    <label style="text-align:center; margin-top:10px;">Bus Tracking</label>
                    <hr style="margin:2px;" />
                    <div class="col" style="padding:9px;">
                        <img src="~/Images/parent/Image 3@2x.png" class="img-responsive" widh="150" height="150" style="height:152px;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 mt-2">
                <div class="col" id="divcontent">
                    <label style="text-align:center; margin-top:10px;">Marks</label>
                    <hr style="margin:2px;" />
                    <div class="col mt-3" style="background-color:white; width:100%; padding:0px;">
                        <div class="row" style="padding-top:10px; width:100%">
                            <b style="text-align:left; padding:10px;">Unit Test</b>
                            <div class="col-md-8 mt-0">
                                <select name="type" id="selecttype" class="form-control">
                                    <option>Select Unit Test</option>
                                    <option>unit1</option>
                                    <option>unit2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-1 justify-content-center" style="width:100%;">
                                    <div class="text-center" id="rankbox">
                                        <input type="text" value="5" id="inpturank" readonly/>
                                        <p id="rank">Rank</p>
                                    </div>
                                    <div class="text-center" id="rankbox">
                                        <input type="text" value="87" id="inpturank" readonly/>
                                        <p id="rank">%</p>
                                  
                                     </div>
                                     <div class="text-center" id="rankbox">
                                         <input type="text" value="A" id="inpturank" readonly/>
                                        <p id="rank">Grade</p>
                                     </div>
                        </div>
                        <div class="row mt-2 justify-content-center" style="width:100%;">
                        <div class="col" style="margin-bottom:-10px;">
                            <table class="table table-responsive">
                                    <tr class="" style="color:black; background-color:#f2f2f2;">
                                        <td scope="col" width="20%">Subject</td>
                                        <td scope="col" width="20%">Grade</td>
                                        <td scope="col" width="20%">Marks</td>
                                        <td scope="col" width="20%">Total</td>
                                        <td scope="col" width="20%">%</td>
                                    </tr>
                                <tbody>
                                    @*<tr class="" style="color:black; background-color:#e6ffff;">
                                        <td scope="col" width="17%">23</td>
                                        <td scope="col" width="66%">Sampath Singh</td>
                                        <td scope="col" width="17%"><span style="color:green;">63</span>%</td>
                                    </tr>
                                    <tr class="" style="color:black; background-color:#ffe6ff;">
                                        <td scope="col" width="17%">24</td>
                                        <td scope="col" width="66%">Santosh Singh</td>
                                        <td scope="col" width="17%"><div id="divper">34%</div></td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    <p style="">&nbsp;</p>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="col" id="divcontent" style="height:250px;">
                    <label style="text-align:center; margin-top:10px;">Fee Details</label>
                    <hr style="margin:2px; margin-bottom:10px;" />
                    <div class="col" style="background-color:white; width:100%; padding:0px;">
                        <div class="row mt-2 justify-content-center" style="width:100%;">
                            <div class="col" style="margin-bottom:-10px;">
                                <table class="table mt-3">
                                    <tr class="" style="color:black; background-color:#ffe6ff;">
                                        <td scope="col" id="tdborder" width="33.33%">Details</td>
                                        <td scope="col" id="tdborder" width="33.33%">Balance</td>
                                        <td scope="col" id="tdcenter" width="33.33%">Due</td>
                                    </tr>
                                    <tbody>
                                        @*<tr class="" style="color:black; background-color:#e6ffff;">
                                <td scope="col" width="17%">23</td>
                                <td scope="col" width="66%">Sampath Singh</td>
                                <td scope="col" width="17%"><span style="color:green;">63</span>%</td>
                            </tr>
                            <tr class="" style="color:black; background-color:#ffe6ff;">
                                <td scope="col" width="17%">24</td>
                                <td scope="col" width="66%">Santosh Singh</td>
                                <td scope="col" width="17%"><div id="divper">34%</div></td>
                            </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <p style="margin:-10px;">&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row mt-1">
           <div class="col-md-6 mt-2" style="">
            <div class="col" id="divcontent">
                <label style="text-align:center; margin-top:10px;">Achievements</label>
                <hr style="margin:2px;" />
                <div class="row">
                    <div class="col-md-4 mt-2">
                        <div class="row align-self-center">
                            <div class="col" style="padding:5px;">
                                <div style="background-color:white; width:115px; padding:15px;">
                                    <img src="~/Images/Group 282@2x.png" widh="50" height="50" style="" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-self-center">
                            <div class="col" style="padding:5px;">
                                <div style="background-color:#ff99cc; width:115px; padding:15px; color:white; margin-top:-20px;">
                                    <label>Top Students<br /><br /><br /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="row align-self-center">
                            <div class="col" style="padding:5px;">
                                <div style="background-color:white; width:115px; padding:15px;">
                                    <img src="~/Images/Group 284@2x.png" widh="50" height="50" style="" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-self-center">
                            <div class="col" style="padding:5px;">
                                <div style="background-color:#6666ff; width:115px; color:white; padding:15px; margin-top:-20px;">
                                    <label>Top Teacher<br /><br /><br /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="row align-self-center">
                            <div class="col" style="padding:5px;">
                                <div style="background-color:white; width:115px; padding:15px;">
                                    <img src="~/Images/Group 286@2x.png" widh="50" height="50" style="" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-self-center">
                            <div class="col" style="padding:5px;">
                                <div style="background-color:#ffb366; width:115px; color:white; padding:15px; margin-top:-20px;">
                                    <label>Top Parent<br /><br /><br /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-6 mt-2" style="">
                <div class="col" id="divcontent">
                    <label style="text-align:center; margin-top:10px;">Gallery</label>
                    <hr style="margin:2px;" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col" style="padding:4px;height:170px;">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                        <li data-target="#myCarousel" data-slide-to="3"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/Images/test/4.jpg" alt="Image 1" style="width:100%; height:160px;">
                                        </div>
                                        <div class="item">
                                            <img src="~/Images/test/2.jpg" alt="Image 2" style="width:100%; height:160px;">
                                        </div>
                                        <div class="item">
                                            <img src="~/Images/test/3.jpg" alt="Image 3" style="width:100%; height:160px;">
                                        </div>
                                        <div class="item">
                                            <img src="~/Images/test/5.jpeg" alt="Image 4" style="width:100%; height:160px;">
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" style="margin-left:-15px;"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row mb-2"  id="divcontent" style="margin:0px;">
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 196@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Attendance</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 209@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Marks</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 240@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Fee</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 203@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Assignments</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 189@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Diary</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 180@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Time Table</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 213@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">View Achievements</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 204@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Message</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 348@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Bus Tracking</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 315@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Exam Schedule</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 219@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Notification</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 316@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Student Overview</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 198@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Events</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 177@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Academic Syllabus</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 176@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Edit Profile</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 218@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Leave Request</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="">
                        <div id="divlink">
                            <div class="row justify-content-center">
                                <img src="~/Images/Group 192@2x.png" height="50" width="50" style="margin-top:5px;">
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a href="#" style="text-decoration:none;">
                                    <span id="BottomLinks">Leading Board</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 ml-4">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
