
@{
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAttendance</title>
</head>
<body>
    <div class="col-md-9 col-md-offset-2 mr-1 mb-3 mt-4" style="background-color: #f2f2f2; width:100%; border-radius:10px;">
        <div class="row">
            //FULL MONTH ATTENDANCE IS SHOWN IN GRID VIEW
        </div>
        @*<a href="@Url.Action("ViewAttendance","Parent")">View Attendance</a>*@
    </div>
</body>
</html>
