
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Attendance</title>
</head>
<body>
    <div class="col-md-12 mt-4" style="background-color:#E7E7E7; border-radius:10px;">
        <div class="row mt-4">
            <div class="col-md-9">
                Attendance
            </div>
        </div>
    </div><br />
</body>
</html>
