
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewExamSchedule</title>
</head>
<body>
    <div class="row mt-4 ml-4">
        <label style="font-size:19px;">Class Exam Schedule</label>
    </div>
    <div class="col-md-12 mt-2" style="background-color:#E7E7E7; border-radius:10px;">
        //EXAM SCHEDULE WILL BE SHOWN HERE.....
    </div><br />
</body>
</html>
