@model Edujinni.Models.addclass
@{
//   Layout = null;
}
@using (Html.BeginForm("AddClass", "Admin", FormMethod.Post))
{
    <!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AddAchievements</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
        <style>
            #achievements {
                height: 45px;
                width: 250px;
                border-radius: 20px;
            }

            p {
                text-align: center;
            }

            #vertical {
                margin-top:120px;
                margin-bottom:200px;
            }
        </style>
    </head>
    <body>
        @{
            //List <Model.gettingdetails()> Teacherlist = new List<Model.gettingdetails()>();
            List<SelectListItem> list = new List<SelectListItem>();
            {

            }
            //list = Model.gettingdetails();
        }
        <div id="vertical">           
                <p style="font-size:40px;">Add Class</p>
                <br />
                @Html.DropDownListFor(Model => Model.teacher_id, list, new { @class = "form-control", @placeholder = "Add Class Teacher", @id = "achievements" })
            @*@Html.TextBoxFor(Model => Model.classTeacher, new { @class = "form-control", @placeholder = "Enter Class Teacher", @id = "achievements" })*@    
            <br /> 
                @Html.TextBoxFor(Model => Model.class_name, new { @class = "form-control", @placeholder = "Enter Class Name", @id = "achievements" })
                <br />
                @Html.TextBoxFor(Model => Model.class_section_name, new { @class = "form-control", @placeholder = "Enter Section Name", @id = "achievements" })
                <br />
                <input type="submit" value="Save" class="btn btn-success" id="achievements" />            
        </div>
    </body>
}