@model Edujinni.Models.TimeTable
@{
//Layout = null;
}
@using (Html.BeginForm("AddTimeTable", "Admin", FormMethod.Post))
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <link href="Content/all.min.css" rel="stylesheet" type="text/css">
        <link href="Content/sb-admin.css" rel="stylesheet">

        <title>ViewTimeTAb</title>
        <style>
            #cntnr {
                width: auto;
            }

            #dropdownMenuButton {
                background-color: white;
                border-radius: 20px;
                width: 83%;
            }

            #dropdown1 {
                height: 40px;
                /*width: 170px;*/
                background-color: lightgray;
                color: black;
                border-radius: 10px;
            }

            #dropdown2 {
                height: 40px;
                /*width: 340px;*/
                background-color: lightgray;
                color: black;
                border-radius: 10px;
                margin-right: 58px;
            }

            #upload-data {
                margin-right: auto;
                float: right;
                font-size: 55px;
                color: green;
                width: 50px;
                margin-top: -8px;
            }

            #addDiv {
                width: 58px;
                float: right;
                margin-top: 5px;
                border-radius: 5px;
                margin-right: -5px;
                background-color: green;
                color: white;
            }

            #timetable {
                width: inherit 250px;
                border-radius: 20px;
                height: 40px;
            }
        </style>
    </head>
    <body>        
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-12">
                    <center>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle col-md-offset-3 col-md-3" type="button" id="dropdown1" data-toggle="dropdown">
                                    Class
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle col-md-3 ml-1" type="button" id="dropdown1" data-toggle="dropdown">
                                    Section
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-md-12 mt-2">
                    <center>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle col-md-offset-3 col-md-6" type="button" id="dropdown2" data-toggle="dropdown">
                                    Select Name
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-md-12 mt-2">
                    <center>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle col-md-offset-3 col-md-3" type="button" id="dropdown1" data-toggle="dropdown">
                                    Select Exam
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle col-md-3 ml-1" type="button" id="dropdown1" data-toggle="dropdown">
                                    Select Rank
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-md-12 mt-2" >
                    <center>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-success col-md-offset-6 col-md-3" type="button" value="Save" style="height:40px; border-radius:10px;">
                                    Select Name
                                </button>
                            </div>
                        </div>
                    </center>
                </div>

            </div>

        </div>
    </body>
</html>
}