@model Edujinni.Models.TimeTable
@{
  //Layout = null;
}
@using (Html.BeginForm("AddTimeTable", "Admin", FormMethod.Post))
{
    <!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AddTimeTable</title>
        
        <script type="text/javascript">
           
        </script>
        <style>
            #cntnr{
                margin:0;
            }
             .form-control {
                border-radius: 20px;
                background-color: #ebebe0;
            }
        </style>
    </head>
    <body>
        <div class="container mt-4 col-md-12 col-xs-12" id="cntnr">
            <div class="row mt-2">
                <div class="col-md-5 mt-2">
                    <div class="col">
                        <select name="section" class="form-control">
                            <option>Select Day</option>
                            <option>Section</option>
                            <option>Section</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5 mt-2">
                    <div class="col">
                        <select name="section" class="form-control">
                            <option>Select Subject</option>
                            <option>Section</option>
                            <option>Section</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-5 mt-2">
                    <div class="col">
                        <select name="section" class="form-control">
                            <option>Select Teacher Name</option>
                            <option>Section</option>
                            <option>Section</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5 mt-2">
                            <div class="col">
                                <select name="section" class="form-control">
                                    <option>Class</option>
                                    <option>Section</option>
                                    <option>Section</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5 mt-2">
                            <div class="col">
                                <select name="section" class="form-control">
                                    <option>Section</option>
                                    <option>Section</option>
                                    <option>Section</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 align-self-start mt-2">
                    time picker1
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-5 align-self-start">
                    <div class="col">
                <input type="button" value="Save" class="form-control" style="border-radius:10px;" />
                        </div>
                </div>
            </div>
        </div>
        

    </body>
}
