@{
//Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link href="Content/all.min.css" rel="stylesheet" type="text/css">
    <link href="Content/sb-admin.css" rel="stylesheet">
    <title>AddSubjects</title>
    <style>
        #cntnr {
            background-color: #ebebe0;
            width: 95%;
        }

        #dropdownMenuButton {
            background-color: white;
            border-radius: 20px;
            width: 83%;
        }

        #div1 {
            background-color: white;
        }

        #input1 {
            border-radius: 10px;
            float: right;
            background-color: blue;
            color: white;
            min-width: 50px;
            width: 100px;
            margin-top: 5px;
        }

        #input2 {
            border-radius: 10px;
            float: right;
            background-color: red;
            color: white;
            min-width: 50px;
            width: 100px;
            margin-top: 5px;
        }

        #upload-data {
            margin-right: auto;
            float: right;
            font-size: 55px;
            color: green;
            width: 50px;
            margin-top: -8px;
        }

        #addDiv {
            width: 58px;
            float: right;
            margin-top: 5px;
            border-radius: 5px;
            margin-right: -5px;
            background-color: green;
            color: white;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            text-align: left;
            background-color:#A3FC77;
        }
        td{
            text-align: left;
        }
        #select{
            height:30px;
            width:200px;
            border-radius:20px;
            margin-top:10px;
            margin-right:10px;
        }
          tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="row" style="background-color:blue;">
        <div class="col-md ml-2 mt-2" style="">
            <i class="fa fa-user-circle fa-3x" style="color:silver;"></i>
            <label style="color:white; font-size:20px;">Kakatiya Educational Society</label>
        </div>
    </div>
    <div class="container mt-4 ml-3" id="cntnr">
        <div class="row  mt-3 ml-3 mr-4" style="background-color:white; border-radius:15px;">
            <div class="row ml-3" style="float:right;">
                <input type="text" class="form-control" placeholder="Class(select)" id="select">
                <input type="text" class="form-control" placeholder="Section(Select)" id="select">               
            </div>  
            <br />
            <div class="col-md-12" style="background-color:white;border-radius:15px;">
                <br />
                <table>
                    <tbody>
                        <tr>
                            <th>
                                RollNO
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                               Parent Names
                            </th>
                            <th>
                                Status  
                            </th>
                        </tr>
                        <tr class="alert-danger">
                            <td>
                               123
                            </td>
                            <td>
                                Andrea
                            </td>
                            <td>
                            Marinda
                            </td>
                            <td>
                            Present
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
        <br />
        <div class="row">
            @*<div class="col">
                <input type="button" class="btn btn-success" name="Save" onclick="location.href='@Url.Action("#","#")'"
                       value="Add Class" style="border-radius:10px; color: white; min-width: 50px; width: 250px; height:auto;">
             </div>*@
            <br />
            <br />            
        </div>
    </div>
</body>
</html>
