
@{
  //  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FeeCollection</title>
</head>
<body>
    <div> 
        FEE COLLECTION PAGE
    </div>
</body>
</html>
