
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RequestedPage</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style type="text/css">
      [type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #00a69c;
    position: absolute;
    top: 6px;
    left: 6px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
label{
    font-size:19px;
}
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#teacher").hide();
            $("#student").hide();
            $("#staff").hide();
            $("#test1").click(function () {
                if ($(this).is(":checked")) {
                    $("#teacher").show();
                    $("#student").hide();
                    $("#staff").hide();
                    $("#test2").prop("checked", false);
                    $("#test3").prop("checked", false);
                }
                else {  
                    $("#teacher").hide();
                }
            });
            $("#test2").click(function () {
                if ($(this).is(":checked")) {
                    $("#student").show();
                    $("#teacher").hide();
                    $("#staff").hide();
                    $("#test1").prop("checked", false);
                    $("#test3").prop("checked", false);
                } else {
                    $("#student").hide();
                    $("#teacher").hide();
                    $("#staff").hide();
                }
            });
            $("#test3").click(function () {
                if($(this).is(":checked")){
                    $("#staff").show();
                    $("#student").hide();
                    $("#teacher").hide();
                    $("#test1").prop("checked", false);
                    $("#test2").prop("checked", false);
                }
                else{
                    $("#staff").show(); 
                    $("#student").hide();
                    $("#teacher").hide();
                }
            });
        });
    </script>
</head>
<body>
    <br />
    <div> 
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                <input type="checkbox" id="test1" >
                <label for="test1">Teacher</label>
            </div>
            <div class="form-group col-md-3">
                <input type="checkbox" id="test2">
                <label for="test2">Student</label>
            </div>
            <div class="form-group col-md-3">
                <input type="checkbox" id="test3">
                <label for="test3">Staff</label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 mt-4" id="teacher" style="background-color:#E7E7E7; border-radius:10px;">
                //TEACHER LEAVE REQUESTS COMES HERE
            </div>
            <div class="col-md-8 mt-4" id="student" style="background-color:#E7E7E7; border-radius:10px;">
               <div class="row justify-content-center">
                   <div class="col-md-3">
                       <select class="form-control">
                            <option>class</option>
                       </select>
                   </div>
                   <div class="col-md-3">
                       <select class="form-control">
                           <option>class</option>
                       </select>
                   </div>
               </div>
            </div>
            <div class="col-md-8 mt-4" id="staff" style="background-color:#E7E7E7; border-radius:10px;">
                //STAFF LEAVE REQUESTS COMES HERE
            </div>
        </div>
    </div>
</body>
</html>
