
@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" rel="text/javascript" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" rel="text/javascript" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Leading Board</title>
    <style>
         #cntnr {
            background-color: #f2f2f2;
            border-radius: 5px;
            width: 80%;
        }
         .form-control
         {
             border-radius:20px;
         }
    </style>
</head>
<body>
    <div class="container mt-5 mb-3" id="cntnr">
       <br /><br />
        <div class="row mt-4 justify-content-center">
            <div class="col-md-5 mt-2">
                <div class="col">
                    <select name="Class" class="form-control">
                        <option>Class</option>
                        <option>Class1</option>
                        <option>Class2</option>
                        <option>Class3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5 mt-2">
                <div class="col">
                    <select name="Section" class="form-control">
                        <option>Section</option>
                        <option>Section1</option>
                        <option>Section2</option>
                        <option>Section3</option>
                    </select>
                </div>
            </div>
        </div><br /><br /><br />
    </div>
</body>
</html>
