@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="row mt-4">
        <div class="col-md-12">
            <center>
                <div class="col-md-5" style="background-color:#116EEF; border-radius:20px;">

                    <br />
                    <br />
                    <br />
                    <center>
                        <img src="~/Images/popups/Group 590@2x.png" />
                        <br />
                        <br />
                        <label style="color:white;">For this Teacher</label>
                        <span>
                            <input type="text" class="form-control" value="123456" style="width:90px;" />
                            @*@Html.TextBoxFor(Model=> Model.StudentID,new {@class="form-control" ,@value="123456"})*@
                        </span>
                        <br />
                        <label style="color:white;"><b>Teacher</b> added successfully to Database</label>
                        <br />
                        <br />
                        <br />
                        <br />
                    </center>
                </div>
            </center>
        </div>
    </div>
</body>
</html>
